%tr{:class => "YHTable #{stripe("table.row")}"}
  %td{:style => "text-align:center"}= obj.id
  %td{:style => "text-align:center"}= obj.tracking_id
  %td{:style => "text-align:center"}= obj.name
  %td{:style => "text-align:center"}= obj.message
  - if obj.last_active
    %td{:style => "text-align:center"}
      = l obj.last_active, format: :long
  - else
    %td{:style => "text-align:center"} not yet activated
  %td{:style => "text-align:center"}
    = link_to t("appy.backend.ibeacon.show_link"), app_ibeacon_path(app,obj), class: "YHRightButton YHButton ph"
    = link_to t("appy.backend.ibeacon.edit_link"), edit_app_ibeacon_path(app,obj), class: "YHRightButton YHButton ph"
    = link_to t("appy.backend.shared.destroy.link"), app_ibeacon_path(app,obj), method: 'delete', class: "YHRightButton YHButton ph", data: { confirm: t("appy.backend.shared.confirm_destroy") }
